extends layout

block content 
  -var vehicleData 
  -var partName 
  -var subpartName = subpartName||""
  div(id="wrapper").d-flex
    div(id="page-content-wrapper")
        -var page="Brakes"
        include navbar.pug 
        .container-fluid
            .row.flex-nowrap
                include vehicleNav
                .col.py-3
                    h1 Frenos
                    p Página en construcción