extends layout

block content
  div(id="wrapper").d-flex
    //- Sidebar
    //-include sidebar.pug
    //- Page Content
    div(id="page-content-wrapper")
        //- navbar
        include navbar.pug 
        .container-fluid
          .row
            .col
              h1 Sitio en construcción 
              span Para comenzar, seleccione un vehículo o cree uno nuevo:
              .dropdown 
                button#vsDropdown.btn.btn-primary.dropdown-toggle(type="button" data-bs-toggle="dropdown" aria-expanded="false") Listado...
                ul.dropdown-menu(aria-labelledby="vsDropdown")
                  li
                    a.dropdown-item(href="/newVehicle") Crear nuevo vehículo 
                  li 
                    hr.dropdown-divider                    
                  each vid in availableVehicles 
                      li
                          a(href="/vehicleData?vehicleId="+vid).dropdown-item= vid
          .row 
            svg(width=1 height=800 style="z-index:1")
              use(href="#nothinghere")
          

