extends layout

block content
  div(id="wrapper").d-flex
    //- Sidebar
    //-include sidebar.pug
    //- Page Content
    div(id="page-content-wrapper")
        //- navbar
        include navbar.pug 
        .container-fluid
            h1 Nuevo Vehículo
            .row 
                .col
                    include carData
                .col
                    br