div(id="sidebar-wrapper").bg-light.border-right
    .sidebar-heading LP Garage
    .list-group.list-group-flush
        a(href="#" aria-current="page").list-group-item.list-group-item-action.bg-light
            .icon.vehicle Datos del vehículo
        a(href="#" aria-current="page").list-group-item.list-group-item-action.bg-light 
            span.icon.engine Motor 
        a(href="#" aria-current="page").list-group-item.list-group-item-action.bg-light
            span.icon.suspenssion Suspensión  
        a(href="#" aria-current="page").list-group-item.list-group-item-action.bg-light
            span.icon.gearbox Caja  
        a(href="#" aria-current="page").list-group-item.list-group-item-action.bg-light
            span.icon.brakes Frenos  
