extends layout 
block content
    -var vehicleId 
    -var vehicleData
    -var partName="Vehicle"
    -var subPartName=""
    div(id="wrapper").d-flex
        div(id="page-content-wrapper")
                //- navbar
                include navbar.pug 
                .container-fluid
                    div#main-body.row.flex-nowrap
                        - var page = "vehicleData"
                        include vehicleNav
                        .col.py-3
                            h1 Datos del Vehículo
                            form(id="cardata_form" novalidate action="/" method="post").needs-validation
                                .row 
                                    .col-lg-6 
                                        include carData
                                    .col-lg-6
                                        h3 Cálculos básicos del motor
                                        ul.list-group 
                                            +calculatedValue("Cilindrada unitaria:", "Engine.unitaryDisplacement", volumeUnits)
                                            +calculatedValue("Volumen de cámara de combustión:", "Engine.combustionChamberVolume", volumeUnits)
                                    
    script(src="/javascripts/formControls.js")
    script.
        //Scripts
        var vehicleData= !{JSON.stringify(vehicleData)};
        const partName="#{partName}";
        const subpartName="#{subpartName}";        
        document.addEventListener("DOMContentLoaded", ()=> {
            setUnitSelectEventListener();
            setInputEventListener();
            setUnitButtonListener();
        })

