include icons
mixin menuItem(pageName, url, icon, title)
    li.nav-item.w-100
        a(
            href= (page==pageName?"#":url+"?vehicleId="+vehicleId)
            class="nav-link align-middle px-2 pb-2"+(page==pageName?" active":"") 
        )
            svg(width="32" height=32 alt=title)
                use(xlink:href="#"+icon)
            span.ms-1.d-none.d-sm-inline=title
-var page
-var vehicleId

.col-auto.col-md-3.col-xl-2.px-sm-2.px-0.bg-light.border-end 
    .d-flex.flex-column.align-items-center.align-items-sm-start.px-3.pt-2.text-primary.min-vh-100
        ul#menu.nav.nav-pills.flex-column.mb-sm-auto.mb-0.align-items-center.align-items-sm-start
            +menuItem("vehicleData", "/vehicleData", "vehicle-icon", "Datos del vehículo")
            +menuItem("Engine", "/Engine/EnginePower", "engine-icon", "Motor")
            +menuItem("Suspenssion", "/Suspenssion", "suspenssion-icon", "Suspensión")
            +menuItem("Gearbox", "/Gearbox", "gearbox-icon", "Caja de cambios")
            +menuItem("Brakes", "/Brakes", "brakes-icon", "Frenos")
    